.Footer {
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 0;
    justify-content: center;
    background-color: #333;
    color: white;
    width: 100%;
    opacity: 0.9;
    z-index: 10;
}